<html>
<h1>Welcome to Account Management</h1>

<h2>Log in</h2>
<form class="" action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="{{username}}">
  <label for="password">Password</label>
  <input type="text" id="password" name="password" value="{{password}}">

  <input type="submit" value="Submit">
  <input type="reset">
</form>


<h2>Register</h2>
<form class="" action="/register" method="post">
  <label for="firstname">First Name</label>
  <input type="text" id="firstname" name="First Name" value="{{firstname}}">

  <label for="lastname">Last Name</label>
  <input type="text" id="lastname" name="Last Name" value="{{lastname}}">

  <label for="birthyear">Birthyear</label>
  <input type="text" id="birthyear" name="Birthyear" value="{{birthyear}}">

  <label for="username">Username</label>
  <input type="text" id="username" name="Username" value="{{username}}">

  <label for="password">Password</label>
  <input type="text" id="password" name="Password" value="{{password}}">

  <input type="submit" value="Submit">
  <input type="reset">

</form>

<html/>
